@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* fonts style --------
--------------------- */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin:0px;
}
 /*--------- header style form here --
 ---------------------------------------*/
 header {
    justify-content: center;
    display: flex;
  }
  .header-container {
    width: 80%;
  }
  .header-container h2 {
    margin-bottom: -42px;
    margin-top: 52px;
  }
  h2 {
    margin-bottom: 0px;
  }
  .menu-name{
    display: flex;
    justify-content: end;
}
.menu-name li {
    list-style: none;
    margin-right: 40px;
  }
 .menu-name a{
     text-decoration: none;
 }
 .menu-icon a {
    padding: 10px;
  }
  /* section style form here  */

  .container {
    width: 80%;
    margin: auto;
  }
  .infomation {
    display: flex;
    margin-top: 67px;
  }
  .details h1 {
    font-size: 43px;
  }
  .details p {
    font-size: 14px;
  }
  button {
    padding: 10px;
    border-radius: 21px;
    background: #c44569;
    border: none;
    color: white;
    cursor: pointer;
  }
  button:hover{
      background: #fc5c65;
      transition: 1s;
  }
  /* logo style form here 
  ------------------------ */
  .logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 12px;
  }
  .amazon {
    margin-top: 12px;
  }
  /* products style form here   */
  .product-heading {
    text-align: center;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
  .product {
    background: whitesmoke;
    margin: auto;
    padding: 12px;
    border-radius: 7px;
  }
  .product h1 {
    margin: 0px;
    font-size: 25px;
  }
  .product h3 {
    margin: 2px 0px;
    font-size: 22px;
  }
  .ratings {
    margin-top: -13px;
    margin-bottom: -27px;
  }
  .rating {
    display: flex;
    align-items: center;
  }
  .fas.fa-star {
    font-size: 12px;
    color: orange;
  }
  .fas.fa-star-half-alt {
    color: orange;
    font-size: 12px;
  }
  .rating p {
    padding: 0px 12px;
  }
  .bottom a {
    float: right;
    margin: 12px 0;
    text-decoration: none;
    color: #c44569;
  }
  /* footer style form here  */
  footer {
    margin-top: 50px;
    background: #230909;
    color: white;
    padding: 11px;
    border-radius: 3px;
  }
  .footer-detais {
    text-align: center;
  }
  .footer-detais h1 {
    font-size: 26px;
  }
  .social-icon a {
    color: pink;
    padding: 12px;
  }
/* media query style form here  
--------------------------------*/
@media only screen and (max-width:668px){
   
  .header-container{
    background-color: rgba(165, 218, 66, .2);
     width:100%;
   }
   .header-container h2{
     text-align: center;
     margin:0px
   }
   .menu-name {
    display: flex;
  }
   .menu-name a {
    text-decoration: none;
  }
   .menu-name li {
    list-style: none;
    margin-right: 12px;
  }
  /* section  */
  .container{
    width:100%;
  }
  .infomation {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
  }
  .details {
    padding: 10px;
  }
  .details h1 {
    font-size: 30px;
  }
  .right-side img {
    width: 60%;
  }
  /* logo 
  ---------- */
  .logo img {
    width: 41px;
  }
  /* products -----------
  ---------------------- */
  .products {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .product img {
    width: 60%;
    margin-left: 15px;
    border-radius: 5px;
  }
  .product h1 {
    margin: 0px;
    font-size: 18px;
  }
  .product h3 {
    margin: 2px 0px;
    font-size: 22px;
  }
  .ratings {
    margin-top: -11px;
    margin-bottom: -16px;
  }
  .fas.fa-star {
    font-size: 11px;
    color: orange;
  }
  .fas.fa-star-half-alt {
    color: orange;
    font-size: 11px;
  }
  .rating p {
    padding: 0px 12px;
    font-size: 13px;
  }
  .info p {
    font-size: 12px;
  }

}

/* i pad meadia quearay -------
-----------------------------*/
@media only screen and (min-width:668px) and (max-width:992px){
  .header-container {
    width: 100%;
  }
  .header-container h2 {
    font-size: 32px;
    text-align: center;
    margin-top:20px;
    margin-bottom: 0px;
  }
  .menu-name {
    display: flex;
    justify-content: center;
  }
/* section ----------
--------------- */
.container {
  width: 100%;
  
}
.infomation {
  display: flex;
  margin-top: 42px;
}
.right-side img {
  width: 84%;
}
.details h1 {
  font-size: 28px;
}
/* logo -----------
-------------- */
.logo img {
  width: 57%;
}
/* products ----------------
----------------------- */
.products {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.product img {
  width: 100%;
}
}

